### 분석 이전에 사용될 언어와 툴에 대해 내용을 빠르게 알아보죠.

1. Python : 

    프로그래밍 언어입니다. 요즘에는 데이터 분석에 많이 활용 하기 때문에, Data Science 에 관련해서만 내용이 나오지만
    
    기본적으로 프로그램을 제작할 수 있는 언어입니다.
    
    파이썬이 데이터 활용에 쓰이는 이유는 언어 자체를 읽는데 문장처럼 흐르는데로 읽을 수 있고 (상대적으로... 다른언어에 비해)
    
    배열 형태로 된 데이터를 아주 쉽고 간단하게 가공할 수 있습니다
    
    먼저 배열형태의 데이터를 표현하고, 얼마나 간단히 자를 수 있는지 예시를 보여 드릴게요.
    
    ** 저희는 Python 3 라고 불리기도 하는 3버젼의 python을 씁니다. 2버젼은 곧 없어진단 소리만 1년이 넘었는데... (대세는 python3)
    
    ** 문법이 좀 달라서 예제를 찾다보면 Python 2 기반의 예제도 있을텐데 아마 바로 안돌아 갈거에요

In [1]:
# 프로그래밍에서는 변수 선언을 필수적으로 해줘야 합니다. 
# 변수 선언이라고 생각하시기 보다 데이터를 적어둘 메모장을 하나 만든다고 생각해봅시다.
# 1 ~ 10 의 숫자 배열을 만들어 봅시다.
numberArray = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(numberArray) # 메모장을 출력하는 명령어 입니다.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# numberArray 라는 메모장에 1 ~ 10의 숫자를 적었습니다.
# 이 메모장은 각 숫자마다 각각 잘라서 필요할때 사용할 수 있어요.
# 단 특이한점은 모든 배열의 시작은 0번입니다.
print(numberArray[0])
print(numberArray[9])

1
10

In [3]:
# 예를 하나 들어서 1 ~ 3의 데이터는 필요가 없어요. 잘라버리고 싶네요.
# 그렇다면 3번째 까지 데이터는 필요가없죠 ( 배열 번호 2번 , 0, 1, 2 이기 때문에)
print(numberArray[3:])
# 배열은 3번째가 번호는 2 이기때문에 '배열 3번 부터 가져와' 를 3: 으로 표현할 수 있습니다.

[4, 5, 6, 7, 8, 9, 10]

In [4]:
# 응용하면 배열 3번 부터 7번도 쉽게 할 수 있습니다.
print(numberArray[3:7])

[4, 5, 6, 7]

In [5]:
# 조금 갑자기 진도가 나갔지만, 5보다 큰 숫자도 빠르게 찾을 수 있습니다.
# 후에 다른 형태를 쓰면 이것보다 더 간단히 자르고 찾을수 있어요.
print(list (filter (lambda x: x>5, numberArray) ) )

[6, 7, 8, 9, 10]

 2. Jupyter Notebook
 
     사용중인 코딩 툴.. 이라고 해야할까요?
     
     보통은 이걸로 서비스에 사용될 로직을 짜기보단, 간단하게 빠르게 테스트하면서 짜기 위해서 사용합니다.
     
     각 블럭마다 코드를 실행 시켜 볼 수 있기 때문에 그때 그때 숫자를 보기 위해서 Data Science 에서 많이 활용 됩니다.
     
     블럭을 하나씩 내릴땐 Shift + Enter 로 내리면 블럭 실행 + 블럭 생성 + 다음 블럭으로 이동 이 한번에 수행됩니다.

 3. Numpy, Pandas
     
     데이터 분석을 위한 라이브러리 입니다.
     
     데이터를 자르고 붙이고 간단하게 계산하고..
     
     코드로 엑셀에 있는 기능을 쉽게 쓸 수 있다고 해야 할까요.
     
     계속 사용 할거라 모두를 알 필요는 없습니다.
  
     왠만한 분석, 통계에 관련한 기능은 다 있기때문에 구글에 검색하면 다 나오니까 필요할때 검색해서 쓰는게 좋아요.
     
     간단하게 평균, 분산, 중간값, 최솟값, 최댓값 구하는 예제를 하죠
     
     아래 예제를 조금 본다면 아.. 그냥 사람들 쓰라는거 쓰는게 편하구나 싶을거고
     
     배우시다보면 자연스럽게 pandas 와 numpy를 쓰고 있는 자신을 발견하게 될거에요.

In [6]:
# 먼저 라이브러리를 가져와야 합니다. python 기본으로 있는게 아니고 가져와서 사용하여야 합니다.
# pandas 와 numpy를 다 치는건 손가락 아프니까 별칭을 pd 와 np로 지어서 사용하겠습니다.
import pandas as pd 
import numpy as np

In [7]:
# 먼저 pandas에 가장 강력한 기능인 DataFrame으로 시작하죠.
# 배열이지만 배열이 아닌.. 좀 더 강력한 배열로 생각하시면 될 것 같습니다.
# numberFrame 에 배열을 DataFrame으로 변환한 데이터를 만듭니다.
numberFrame = pd.DataFrame(numberArray)

In [8]:
# 한번 출력 시켜 보아요
# 하나만 있을땐 print 명령어를 쓰지않아도 볼 수 있습니다.
numberFrame

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [9]:
# 3 초과 값을 가져옵니다.
# 배열보다 좀더 직관적이죠? 
# 다만 값들이 NaN 으로 변환됩니다
numberFrame[numberFrame > 3]

      0
0   NaN
1   NaN
2   NaN
3   4.0
4   5.0
5   6.0
6   7.0
7   8.0
8   9.0
9  10.0

In [10]:
# 우리는 3을 초과한 내용만 있으면 되니까 NaN을 버려줍시다
# 0번째 에서 2번째를 잘라 버리기 때문에 배열의 순서를 다시 매겨줍니다.
# 순서를 다시매기는건 꼭 필요는 없어요!
overThreeFrame = numberFrame[numberFrame > 3].dropna().reset_index(drop=True)
print(overThreeFrame)

      0
0   4.0
1   5.0
2   6.0
3   7.0
4   8.0
5   9.0
6  10.0

In [11]:
# 합계
# 파이썬 기본 함수와 비교
# 꼭 numpy 함수를 쓸 필요는 없지만, dataframe 계산을 기본 함수에서 할 수 없어요.
print( sum(numberArray[3:]) )
print( sum(overThreeFrame) )
print( np.sum(overThreeFrame) )

49
0
0    49.0
dtype: float64

In [12]:
# 평균
# 파이썬 기본함수엔 평균이 없어서 합계에서 나누어줍시다
# mean, average 둘다 평균이지만 average는 배열의 차원을 고려해서 계산할 수 있다.
print( sum(numberArray[3:]) / len(numberArray[3:]) )
print( np.mean(overThreeFrame) )
print( np.average(overThreeFrame) )

7.0
0    7.0
dtype: float64
7.0

In [13]:
# 분산
# 파이썬 기본함수로 하기엔 점점... 힘들어서 좀 꼼수
print( sum((numberArray[3:] - np.mean(numberArray[3:]) )**2)/len(numberArray[3:]))
print( np.var(overThreeFrame) )

4.0
0    4.0
dtype: float64

In [14]:
# 표준편차
# math는 기본 라이브러리지만 쓰려면 꺼내와야되요.
import math
print( math.sqrt( sum((numberArray[3:] - np.mean(numberArray[3:]) )**2)/len(numberArray[3:]) ))
print( np.std(overThreeFrame) )

2.0
0    2.0
dtype: float64